
/* Your CSS Code here. */
table{
	border:2px solid black;
}
.table3-left{
	margin-top:90px;
}
.tab2,.tab3,.tab1,.tab3{
	border:2px solid black;
}
.bg-color{
	background-color:+rgba(0, 0, 0);
	color:white;
}

